h1 {
    text-align: center;
}

.nav {
    text-align: right;
    
    
}

body {
    background-color: dodgerblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
.all {
    background-color: white;
    width: 300px;
    height: 300px;
    margin: auto;
    box-shadow: white;
    padding: 5px;
}

img {
    height: 30px;
    width: 30px;
    padding: 2px;
}

input {
    margin-bottom: 10px;
}

button {
    background-color: dodgerblue;
}
